{% set headline = "Log out of TwinePM Server" %}
<!DOCTYPE html>
<html lang="en">
    {% include "components/tpmServerHead.html.twig" %}

    <body>
        {% include "components/tpmServerHeader.html.twig" %}

        {% include "components/logoutComponent.html.twig" %}

        {% include "components/errorComponent.html.twig" %}
    </body>
</html>