{% if loggedInUser %}
    You are already logged in.
{% else %}
    <label for="nameOrId" class="loginLabel">Name or ID</label>
    <input id="nameOrId" class="loginInput" name="nameOrId">
    <label class="loginLabel" for="password">Password</label>
    <input
        id="password"
        class="loginInput"
        type="password"
        name="password">

    {% if includeLoginButton %}
        <button id="login">Login</button>
        <script>{% include "scripts/loginEvent.js" %}</script>
    {% endif %}
{% endif %}